%tr{ id: "row-#{quote.id}" }
	- if can? :destroy_multiple, Quote
		%td.item-check{style:"width: 10%"}
			= link_to "", quote_path(quote), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{quote.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{quote.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{quote.id}" }
		%td{style:"width: 30%"}
			= link_to "", quote_path(quote, search: @query), remote: true, class: "show-row"
			%span
				= quote.client
		%td{style:"width: 30%"}
			= link_to "", quote_path(quote, search: @query), remote: true, class: "show-row"
			%span
				= quote.country
								
	%td{style:"width: 5%"}		
		= link_to quote_path(quote), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")