= title "Quotes | #{@quote.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Quote
				= link_to quote_path(@quote), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Quote
				= link_to edit_quote_path(@quote), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to quotes_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.title")
					.display-value.fs-body-1.tc-black-2= @quote.title.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.quote")
					.display-value.fs-body-1.tc-black-2= @quote.quote.html_safe
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.client")
					.display-value.fs-body-1.tc-black-2= @quote.client.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.country")
					.display-value.fs-body-1.tc-black-2= @quote.country.to_s.humanize
