= title "Galerías | #{@catalog.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, model
				= link_to catalog_path(@catalog), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: '¿Estas seguro de querer eliminar?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, model
				= link_to edit_catalog_path(@catalog), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
					= material_icon.md_18.create.css_class("md-dark")
			- if can? :index, KepplerCatalogs::Attachment
				= link_to catalog_attachments_path(@catalog), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Ir a archivos" do
					= material_icon.md_18.perm_media.css_class("md-dark")	
			= link_to catalogs_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card{style: "padding: 0px"}		
			.card-image
				= image_tag @catalog.cover	
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.name")
						.display-value.fs-body-1.tc-black-2= @catalog.name.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.description")
						.display-value.fs-body-1.tc-black-2= @catalog.description.html_safe
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.section")
						.display-value.fs-body-1.tc-black-2= @catalog.section.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.public")
						.display-value.fs-body-1.tc-black-2= @catalog.public? ? "Si" : "No"
