.container 
	.row.about-row
		.col-lg-6.col-md-6.about-column-4
			.about-title
				Kiteboarding in Los Roques	
			Steady trade winds, warm clear water and plenty of white-sand islands and sandbanks make Los Roques an excellent destination for kiteboarding. Winds are stronger from December to June, ranging between 20 to 25 knots, while the water temperature ranges from 25°C (77°) and 30°C (86°F), so you can leave your wetsuit at home.
			Kiteboarding is allowed in most of the archipelago, except around El Gran Roque due to the proximity to the airport. Kiting around is perfect for beginners, while the ... Is more suitable for advanced riders.
		.col-lg-6.col-md-6.about-column-4
			.about-title
				Professional Instructors and Equipment
			Oceanica Los Roques works with experienced certified instructors that can train you from beginning level to work on advanced techniques for the more experienced kiters.
			Due to luggage weight limitations on local flights most kiters choose to rent kiteboarding equipment on site. We offer a range of kites, boards, harnesses and accessories for all riding levels and wind conditions. When you book a training course all equipment required is included.
			We offer rescue service on all our lessons or as an option if you kite on your own. If you are looking for a spot in particular we also arrange kite safaris in private boats.