.container 
	.row.about-row
		.col-lg-6.col-md-6.about-column-4
			.about-column-principal
				.about-artesanal-mask
					.about-title
						Fishing in Los Roques			
					There are plenty of hard-bottom flats in the archipelago, some of them up to 33m (100ft) wide, with little presence of corals, plenty of bonefish and little tide variations. There are also shallow lagoons offering a different game for catching bonefish at deeper waters. Bonefish caught in Los Roques average 4lbs, but bigger fish are common, up to 13lbs.
					%br
					%br
					In addition to Bonefish, many other fish species are found in Los Roques, such as Tarpon, Jack, Permit, Barracuda, Bonito, Spanish Mackerel, Blue Runner, Tuna, Wahoo.
					%br
					%br
					The best season for fly fishing is between February and October when the water levels are lower. The weather in general is pleasant throughout the year, with almost no variation in temperature and precipitation, so you don't even have to worry about checking the weather forecast.
					%br
					%br
					Travelling with a non-angler? No problem, we have plenty of offers to keep your companion occupied, from exhilarating activities such as kiteboarding and scuba diving to relaxing sunbathing in a solitary sandbank. Let us know your preference and we can plan the perfect fishing holiday for you.
		.col-lg-6.col-md-6.about-column-4			
			.about-title
				Professional Guides and Equipment				
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			%br
			%br
			.about-title
				Local Regulations
			As in most National Parks, activities that can endanger the local species are banned or controlled. Fishing, as well as other activities, is subject to local regulations, luckily these are very simple to fulfil and normally anglers don’t even have to deal with this process. Only by hiring Oceanica Los Roques as your fishing operator you will have included in your package all the taxes and paperwork required to fish legally in the archipelago, so you don’t have to worry about anything but fishing. Sports fishing permits are issued by the National Institution for Fishing (INSOPESCA) and are valid for the whole stay.
			There are several protected areas in the park which are strictly controlled in terms of fishing and therefore it is required to be guided by local fishing guides.    		
		.col-lg-12.col-md-12.about-column-12
			.about-title
				Artesanal Fisheries	
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.