%tr{ id: "row-#{customer.id}" }
	- if can? :destroy_multiple, Customer
		%td.item-check{style:"width: 10%"}
			= link_to "", customer_path(customer), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{customer.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{customer.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{customer.id}" }

		%td{style:"width: 30%"}
			= link_to "", customer_path(customer, search: @query), remote: true, class: "show-row"
			%span
				= customer.name
		%td{style:"width: 30%"}
			= link_to "", customer_path(customer, search: @query), remote: true, class: "show-row"
			%span
				= customer.identification
		%td{style:"width: 30%"}
			= link_to "", customer_path(customer, search: @query), remote: true, class: "show-row"
			%span
				= customer.phone
								
	%td{style:"width: 5%"}		
		= link_to customer_path(customer), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")