@import "../core/main";
.fishing{
	font-family: $raleway;
	#home{
		background-image: image-url("frontend/fishing/home.jpg");
		background-size: cover;
		color: white;
		height: 500px;
		padding: 3%;

		.home-title{
			font: {
				size: 70px;
				weight: bold;
			}
			position: relative;
			top: 50px;	
			opacity: 0;
			@include animation(hometitle, 1s, 1, alternate);
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;			
		}

		@include phone-all{
			height: 250px;
			.home-title{
				font: {
					size: 30px;
				}
			}
		}

		@include keyframes(hometitle) {
			from {
				top: 50px;
				opacity: 0;
			}
	    	to {
	    		top: 0px;
	    		opacity: 1;
	    	}
		}	
	}

	#about{
		.about-row{
			padding: 80px;
			@include phone_all{
				padding: 10px;
			}
			.about-column-4{
				padding: 40px;
				@include phone_all{
					padding: 10px;
				}
				.about-title{
					font-size: 18px;
					font-weight: bold;
					margin-top: 10px;
					margin-bottom: 15px;
				}
			}
			.about-column-12{
				padding-left: 39px;
    			padding-right: 39px;
    			@include phone_all{
    				padding-left: 10px;
    				padding-right: 10px;
    			}
				.about-title{
					font-size: 18px;
					font-weight: bold;
					margin-top: 10px;
					margin-bottom: 15px;
				}
			}
			.about-column-principal{
				background: url("/assets/frontend/fishing/artesanal.jpg");
				background-size:cover;
				background-position: center;
				padding: 0px;
				.about-artesanal-mask{
					background: rgba(255, 255, 255, 0.8);
					padding: 20px;
					@include phone_all{
						background: #1491BA;
						color: white;
					}
					.about-title{
						font-size: 18px;
						font-weight: bold;
						margin-top: 10px;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}