@import "../core/main";
#footer{
	#footer-row{				
    margin: 0px;
		margin-top: 50px;
		margin-bottom: 20px;
		width: 100%;
		@include phone-all{
			margin-bottom: 5px;
		}
		@include tablet-all{
			margin-bottom: 5px;
		}
	}
	.footer-logo{
		height: 160px;
	}

	#footer-col-social{
		padding-right: 0px;
		padding-left: 0px;
		.footer-social{
			background-image: image-url("frontend/social.jpg");
			background-position: center;
			background-size: cover;
			height: 160px;
			width: 100%;			
			padding: 10px;
			padding-top: 6%;
			color: #ffffff;
			@media #{$phone}{
				background: #1491BA;
				height: 116px;
			}
			@media #{$phone-landscape}{
				background: #1491BA;
			}
			@include tablet-all{
				background: #1491BA;
			}
		}
	}

	#footer-col-contact{
		padding-right: 0px;
		@include phone-all{
			padding-left: 0px;
		}
		@include tablet-all{
			padding-left: 0px;
		}
		.footer-contact{
			background: #1491BA;
			color: #ffffff;
			height: 160px;
			width: 100%;
			padding: 10px;
			padding-top: 6%;
		}
	}

	#footer-social-icons{
		width: 50%;
	}

	.footer-blue-line{
		background: #1491BA;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		font-weight: bold;
		color: white;
	}
}