@import "../core/main";
#gallery{
	#sections{
		padding: 3px;
		margin: 0px;
	}
	.gallery-view{
		.gallery-image{
			background-size: cover;	
			background-position: center;
			width: 100%;
			height: 545px;
			@include phone_all{
				height: 300px;
			}
			.gallery-title{
				background: #FFFFFF;
				width: 200px;
				font-size: 40px;
				text-align: center;
				color: #0B6E8C;
				position: absolute;
				bottom: 0px;
				left: 38%;
			}
		}
	}
	.gallery-control{
		.gallery-image{
			background-size: cover;
			background-position: center;	
			width: 100%;
			height: 180px;
			cursor: pointer;
			outline: none;
		}
	}
}
.slick-next {
	right: 20px !important;
}
.slick-prev {
	left: 13px !important;
	z-index: 99999;
}

