@import "../core/main";
.kiteboarding{
	font-family: $raleway;
	#home{
		background: image-url("frontend/kiteboarding/home.jpg");
		background-size: cover;
		color: white;
		height: 500px;
		padding: 3%;

		.home-title{
			font: {
				size: 70px;
				weight: bold;
			}
			@include phone_all{
				font-size: 50px;
			}
			position: relative;
			top: 50px;	
			opacity: 0;
			@include animation(hometitle, 1s, 1, alternate);
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;			
		}

		@include phone-all{
			height: 250px;
			.home-title{
				font: {
					size: 30px;
				}
			}
		}

		@include keyframes(hometitle) {
			from {
				top: 50px;
				opacity: 0;
			}
    	to {
    		top: 0px;
    		opacity: 1;
    	}
		}	
	}
	#about{
		.about-row{
			padding: 80px;
			@include phone_all{
				padding: 10px;
			}
			.about-column-4{
				padding: 10px;
				.about-title{
					font-size: 18px;
					font-weight: bold;
					margin-top: 10px;
					margin-bottom: 15px;
				}
			}			
		}
	}
}