.wrapper
	.wrapper-body.container
		.actions
			= link_to reservations_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @reservation do |f|
					.row
						= f.input :arrival_date, as: :string, input_html: {class: "datepicker"}
						= f.input :type_price
						= f.association :offer

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
