.listing-show-header
	.actions
		- if can? :update, Reservation
			= link_to edit_reservation_path(@reservation), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.event.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.arrival_date")
			.display-value= @reservation.arrival_date		
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.offer")
			.display-value= "#{@reservation.offer.code.to_s.upcase}: #{@reservation.offer.title.to_s.humanize}"
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.fullname")
			.display-value= @reservation.customers.first.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.type_price")
			.display-value= @reservation.type_price.capitalize
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.customers_number")
			.display-value.fs-body-1.tc-black-2= @reservation.customers_number.to_s.humanize
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
