%tr{ id: "row-#{reservation.id}" }
	- if can? :destroy_multiple, Reservation
		%td.item-check{style:"width: 10%"}
			= link_to "", reservation_path(reservation), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{reservation.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{reservation.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{reservation.id}" }

	%td{style:"width: 30%"}
		= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
		%span
			= reservation.arrival_date
	%td{style:"width: 30%"}
		= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
		%span
			= reservation.customers.first.name
	%td{style:"width: 30%"}
		= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
		%span
			= reservation.offer.code
	%td{style:"width: 30%"}
		= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"
		%span
			= reservation.type_price.capitalize
	%td{style:"width: 30%"}
		= link_to "", reservation_path(reservation, search: @query), remote: true, class: "show-row"		
		- if reservation.status == "Pending"
			%span.chip.chip-pending
				= reservation.status.capitalize
		- if reservation.status == "Canceled"
			%span.chip.chip-cancel
				= reservation.status.capitalize
		- if reservation.status == "Approved"
			%span.chip.chip-success
				= reservation.status.capitalize	
		- if reservation.status == "Expired"
			%span.chip.chip-expire
				= reservation.status.capitalize					
	%td{style:"width: 5%"}		
		= link_to reservation_path(reservation), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
