.customer-form{id: "customer-form-{{customers_attribute.form}}", "ng-repeat"=>"customers_attribute in customers_attributes"}
	#cancel-customer.pull-right
		%button{type:"button", "ng-click"=>"deleteCustomer(customers_attribute.form)"}
			%i.fa.fa-remove
	%br
	%p 
		%b Traveler Data
	.row
		.col-lg-4.customer-form-column
			%input{"ng-model"=>"customers_attribute.name", placeholder: "Full name"} 
			.reservation-error {{customers_attribute.errors.name}}
		.col-lg-4.customer-form-column
			%input{type: "text", "ng-model"=>"customers_attribute.identification", "ng-change"=>"activities[customers_attribute.form].identification=customers_attribute.identification", placeholder: "Passport No."}
			.reservation-error {{customers_attribute.errors.identification}}
		.col-lg-4.customer-form-column
			%input{type: "text", "ng-model"=>"customers_attribute.email", placeholder: "Email"}
			.reservation-error {{customers_attribute.errors.email}}
	%select{id:"activity-select-{{customers_attribute.form}}", "ng-model"=>"activities[customers_attribute.form].data[newActivityIndex[customers_attribute.form]].activity_id"}
		%option{value: ""}
			Select additional activities
		- @activities.each do |activity|
			%option{value: "#{activity.id}"}
				= activity.name					
	%button.add{type:"button", "ng-click"=>"newActivity(customers_attribute.form)"}
		%i.fa.fa-plus
	%section.activity-tags{"ng-repeat"=>"activity in activities_content[customers_attribute.form]"}
		%div.activity-tag
			{{activity}}
			%button{type:"button", "ng-click"=>"deleteActivity(customers_attribute.form, activity)"}
				%i.fa.fa-remove
	.clearfix
.pull-right
	%button.next{type:"button", "ng-click"=>"validateStepTwo()"}
		Continue