%table.table.table-striped{"ng-repeat"=>"customer in customers_attributes"}
	%thead
		%tr
			%th				
				%i.fa.fa-user
				{{customer.name}}
	%tbody
		%tr
			%td
				= "#{@offer.title} (#{params[:accomodation]})"
			%th
				= @offer["#{params[:accomodation]}_price".to_sym]
				USD
		%tr{"ng-repeat"=>"activity in customer.activities"}
			%td
				{{activity.name}}
			%th
				{{activity.price}} USD

.total-price
	%h1
		{{totalPriceToPay.toFixed(2)}} USD
.pull-right	
	%small
		By clicking continue I Accept the terms and conditions
	%button.next{"data-amount" => "{{totalPriceToPay.toFixed(2)*100}}", "data-description" => "#{@offer.title}", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-name" => "Oceanica Los Roques", "stripe-checkout" => "postReservation", type:"submit"}
		Checkout