#footer
	.row#footer-row
		.col-lg-4.col-md-4
			.footer-logo
				.center-h
					.center-v
						= image_tag "frontend/logo-blue.png"
		.col-lg-4.col-md-4#footer-col-social
			.footer-social
				%h4
					%b Connect with us
				.row#footer-social-icons
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						= link_to "#" do
							= image_tag "frontend/facebook.png"
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						= link_to "#" do
							= image_tag "frontend/tripadvisor.png"
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						= link_to "#" do
							= image_tag "frontend/instagram.png"
		.col-lg-4.col-md-4#footer-col-contact
			.footer-contact
				%h4
					%b Contacts
				+58 059 000 00 00
				%br
				+58 059 000 00 00
				%br
				booking@2oceanicalosroques.com
	.footer-blue-line
		%p Oceanica Los Roques LLC- All Right Reserved.