.container
	.row
		.col-lg-9.col-md-9.col-xs-12#sections
			.gallery-view
				- @gallery.each do |image|
					.gallery-item
						.gallery-image{style: "background-image: url('#{image.url}');"}
							.gallery-title.hidden-xs
								Gallery
		.col-lg-3.col-md-3.col-xs-12#sections.hidden-xs
			.gallery-control
				- @gallery.each do |image|
					.gallery-item
						.gallery-image{style: "background-image: url('#{image.url}');"}

:javascript
	$('.gallery-view').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		fade: true,
		asNavFor: '.gallery-control',
		responsive: [
		{
			breakpoint: 1024,
			settings: {
			slidesToShow: 1,
			slidesToScroll: 1,
			}
		},
		{
			breakpoint: 991,
			settings: {
			slidesToShow: 1,
			slidesToScroll: 1
			}
		},
		{
			breakpoint: 768,
			settings: {
			slidesToShow: 1,
			slidesToScroll: 1,
			fade: false,
			arrows: true
			}
		}
		]
	});
	$('.gallery-control').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		asNavFor: '.gallery-view',
		dots: false,
		focusOnSelect: true,
		arrows: false,
		vertical: true,
		responsive: [
		{
			breakpoint: 1024,
			settings: {
			slidesToShow: 3,
			slidesToScroll: 1,
			}
		},
		{
			breakpoint: 991,
			settings: {
			slidesToShow: 3,
			slidesToScroll: 1,
					vertical: false
			}
		},
		{
			breakpoint: 768,
			settings: {
			slidesToShow: 1,
			slidesToScroll: 1
			}
		}
		]
	});