.navbar-oceanica-link
	= link_to "/" do 
		Home
.navbar-oceanica-link
	= link_to "/discover" do 
		Discover Los Roques
.navbar-oceanica-link 
	= link_to "/diving" do 
		Scuba Diving
.navbar-oceanica-link 
	= link_to "/fishing" do 
		Fishing
.navbar-oceanica-link 
	= link_to "/kiteboarding" do 
		Kiteboarding

