.container
	.package-header
		.package-title
			= "#{@section} Packages"
		.package-subtitle
			we have designed the following packages for you
.row.package-row
	- @offers.each_with_index do |offer, index|
		.col-lg-4.col-md-6.package-column
			%a{href:"#", "data-toggle"=>"modal", "data-target"=>"#package-modal-#{offer.id}"}
				.package-image{style:"background-image: url('/assets/frontend/#{@section.downcase}/#{offer.code}.jpg')"}
					.center-h
						.package-image-container
							.package-image-container-title
								= "Package #{index+1}"
							.package-image-container-time
								%span
									= offer.days
									%i.fa.fa-sun-o
								%span
									= offer.night
									%i.fa.fa-moon-o
							.package-image-container-description
								%center
									%b Description
								%p{align:"justify"}
									= offer.description

		= render partial: "layouts/frontend/packages_modal", locals: {index: index, offer: offer, section: @section}