/ Modal
.package-modal.modal.fade{id:"package-modal-#{offer.id}", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-name{style:"background-image: url('/assets/frontend/#{section.downcase}/#{offer.code}.jpg')"}
				.modal-name-mask
					%h1
						= offer.code
					%h2
						= offer.title
			.modal-body
				%h4
					= "Enjoy fresh #{section.downcase} plan at Los Roques"
				.center-h
					%p.modal-description
						= offer.description
				%h3
					Available Options	
				.row
					.col-lg-4
						.modal-price-box
							.price
								= "#{offer.budget_price}USD"
							Budget Accommodation
							%br
							%small
								price per person, based on double occupancy
						%a.btn.btn-book{href: "/#{section.downcase}/reservation/#{offer.code.downcase}/budget"}
							Book
					.col-lg-4
						.modal-price-box
							.price
								= "#{offer.standard_price}USD"
							Standard Accommodation
							%br
							%small
								price per person, based on double occupancy
						%a.btn.btn-book{href: "/#{section.downcase}/reservation/#{offer.code.downcase}/standard"}
							Book
					.col-lg-4
						.modal-price-box
							.price
								= "#{offer.superior_price}USD"
							Superior Accommodation
							%br
							%small
								price per person, based on double occupancy
						%a.btn.btn-book{href: "/#{section.downcase}/reservation/#{offer.code.downcase}/superior"}
							Book
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close