!!!
%html
  = render 'layouts/frontend/head' 
  = render 'layouts/frontend/navigation' 
  - if action_name != "index"
    = render "layouts/frontend/oceanica_navbar"
  %body{"ng-app"=>"frontend"}
    %header
      = #render 'layouts/frontend/navigation'
    %main{:role => "main", "ng-controller"=>"MainCtrl"}
      = #render 'layouts/frontend/messages'
      = yield

      
      