%li.collection-item.avatar.nested-fields
	= image_tag f.object.url, width: "48px;", class: "circle", style: "margin-top: 15px;"
	= f.input :url, label: t("model.#{controller_name.singularize}.attributes.cover"), :as => :file_material, label: false, wrapper_html: { class: "file-field", id: "image-#{f.object.id}"}
	= link_to_remove_association  "<i class='material-icons md-24'>delete</i>".html_safe, f, class: "secondary-content", style: "margin-top: 15px;"
	- if f.object.created_at?
		:javascript
			$("#image-#{f.object.id} .file-path").val("#{f.object.url}")