- (action_name == "new" or action_name == "create") ? action="create" : action="update"
.wrapper
	.wrapper-body.container
		.actions
			= link_to package_offers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @offer, :url => url_for(:action => action, :controller => 'offers') do |f|
					.row
						= f.input :code
						= f.input :title
						= f.input :description, input_html: { class: "materialize-textarea" }
						= f.input :superior_price
						= f.input :standard_price
						= f.input :budget_price
						= f.input :days
						= f.input :night

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
