%section.container

	.row#discover-row
		.col-lg-6.col-md-6
			= image_tag "frontend/discover/archipielago.jpg"
		.col-lg-6.col-md-6#discover-text
			The Archipelago Los Roques is a group of 43 islands and hundreds of sand banks located 128 km north of the coast of Venezuela, in the Caribbean Sea. The archipelago is a National Park and therefore, remains protected from uncontrolled urbanization, with its white sand and crystal clear water. There are approximately 2000 inhabitants in the archipelago, most of them living in the main island of El Gran Roque. The main commercial activities are tourism and fishing, both handled cautiously for over 40 years allowing its visitors to find a healthy variety of marine fauna, seabirds and corals, making it ideal for watersports and activities such as scuba diving, snorkeling, fishing or kiteboarding, among others.
			
			%h4 
				%b Climate

			The weather in Los Roques is ALWAYS warm, sunny and dry. This is the land of endless summer. The average temperature oscillates between 24°C (75°F) in January and 28°C (82°F) in September, with an average 10h of sunshine every day and scarce rain. The water is warm and enjoyable while the wind is excellent to practice kiteboarding and windsurfing, but never too strong. As a matter of fact, Los Roques is luckily located in area where any bad weather clears up before reaching the Islands and strong winds and hurricanes are nonexistent.

	.row#discover-row	
		.col-lg-6.col-md-6		
			%h3 
				%b El Gran Roque
			%br
			El Gran Roque is considered the main Island of the archipiélago, where the majority of the population lives. El Gran Roques has an airstrip, 5 streets, a central square where most of the local events and festivities are celebrated, a Bank, a church, a few local bars and restaurants, souvenir shops and guest houses; all you need to enjoy an authentic Caribbean vacation.
			%br
			There is also a few group of locals who live in other islands like Cayo pirata, Crasqui and Carenero where some “Rancherias” (fishermen houses) can be found and visited. 
		.col-lg-6.col-md-6
			.gran-roque-image

	.row#discover-row
		.col-lg-6.col-md-6#discover-text
			= image_tag "frontend/discover/how.jpg"
		.col-lg-6.col-md-6#discover-how
			The easiest way to get to Los Roques is by plane from Maiquetia Airport (CCS), located outside Caracas. The flight takes only 40 min. All our packages include roundtrip flight Caracas-Los Roques. Once in the island you don’t need other means of transportation, since everything is at walking distance and boat transfer to the different islands and keys is also included.

	.row#discover-row
		.col-lg-12#discover-text
			= image_tag "frontend/discover/pescadores.jpg"

	.row#discover-row
		.col-lg-6.col-md-6#discover-text	
			%h4 
				%b Festival and Traditions
			The festivities of Virgen del Valle (Our Lady of the Valley), the patroness of the sailors and fishermen is the most important celebration in Los Roques. The festivities start the first week of September, when the town is decorated in commemoration of St. Mary’s nativity and different activities take place like dancing to the rhythm of latin american music. On the 8th of September all the boats, decorated with colorful flags and playing traditional music, navigate to Crasquí Island where they take a statue of the Virgin and start a floating pilgrimage to El Gran Roque where the celebration continues until the next day at the main square.

			Lobster fishing season (from November 1st until January 31st) is usually joined by a celebration where gastronomic competitions and other activities are held on the Gran Roque Island. It is a fantastic opportunity to try some local flavors and to see traditional dances that are dedicated to this important resource.

			%br
			%br
			%h4 
				%b Local Activities
			Main local Activities are Fishing and Tourism. Lobster fishing is considered the main income for some fishermen, but it is limited to 3 months per year. Mass fishing is prohibited in los Roques; only traditional fishing is done by locals with ecological fishing gear like longlines with hooks instead of nets, trap cages and other techniques. Sports fishermen find these techniques very interesting and we encourage you to try one of our all included packages where some artisanal guided fishing can be  experienced together with a glimpse of local culture and techniques. 

		.col-lg-6.col-md-6#discover-text
			= image_tag "frontend/discover/actividades.jpg"

	.row#discover-row
		.col-lg-6.col-md-6
			#discover-text
			#discover-electricity
				%h4 
					%b Electricity and communications

				In Venezuela the standard voltage is 120 V and the frequency is 60 Hz. The power sockets that are used are of type A / B (American type). Most of the electronic equipment of different voltage or frequency can be used with a simple adapter, with the exception of items that include a resistance (e.g. iron) or an electrical motor (e.g. hair clippers), for which you would need a power converter.

		.col-lg-6.col-md-6#discover-visa
			%h4 
				%b Visa Requirements
			Visitors from Europe, Canada, South/Central America, Russia, Australia, New Zealand, South Africa, Malaysia and South Korea  do not require visa to visit Venezuela for up to 90 days. If your country is not listed, you must contact the Venezuelan Embassy or Consulate in your Country for application instructions.

	.row#discover-row
		.col-lg-6.col-md-6#discover-text
			= image_tag "frontend/discover/ecologia.jpg"
		.col-lg-6.col-md-6#discover-text
			%h4 
				%b Safety

			Safety of our guests is paramount for us. From the time you touch Venezuelan ground until you leave we will ensure all safety considerations are taken to offer you a risk free experience. As long as you avoid large cities like Caracas, you will be quite safe. When you arrive to Venezuela you will take a connecting flight to Los Roques without leaving the airport or, if you arrive after the last connection, we will arrange accommodation and transport with a private driver to a 5-star hotel located just 5min from the airport, outside Caracas. In Los Roques, crime is literally nonexistent. You will feel very safe walking around the Island at any time, talking to locals and enjoying the island lifestyle without any worries; just bring your friendly smile and you will feel very welcomed.


			%h4 
				%b Ecology

			The National Park of Los Roques is considered by Venezuelan as an ecological sanctuarium. The park has been protected from net fishing and other disruptive activities in order to preserve the coral reefs and its delicate marine life. Construction in most islands is not allowed and there are some marine protected areas where not even locals can go, to ensure the conservation of the ecosystem.
			In town, building construction is limited to a max of 5m, to avoid visual pollution and overpopulation.
			All this, together with the limited amount of tourists that visit us throughout the year make Los Roques an exceptional place where absolute virgin islands are seen and enjoyed as they were initially found by Spanish explorers in the 16th Century.

	.row#discover-row
		.col-lg-6.col-md-6			
			%h4 
				%b Money
			U.S. Dollars and Euros are widely accepted in the Island. Alternatively you can exchange your $ or €  to local currency “Bolivar Fuerte” (BsF) in the posadas and local businesses. Local banks can have long queues and do not offer better exchange rates. We highly recommend bringing extra cash, since wire transfers and other ways of getting money are very limited. If your local currency is different than $ or €, you should exchange your cash to $ or € before coming to Venezuela, because other currencies are not commonly accepted/exchanged.

			%h4 
				%b Language
			The official language in Venezuela is Spanish, but don’t worry if you don’t speak it, most of the population in Los Roques is fluent in English and many speak Italian, French and Portuguese.
			 

		.col-lg-6.col-md-6#discover-text
			= image_tag "frontend/discover/lenguaje.jpg"