- if can? :show, Quote	
	.container
		.quotes-carousel
			- @quotes.each do |quote|
				.quotes-carousel-item
					.quote-content
						.quote-content-title
							= '"'+quote.title+'"'
						.quote-content-body{align: "justify"}
							= quote.quote.html_safe
					.quote-content-arrow
						= image_tag "frontend/discover/quote-arrow.png"
					.quote-client-info
						.quote-client
							= quote.client
						.quote-country
							= quote.country
							
						
	:javascript
		$('.quotes-carousel').slick({
			infinite: true,
			slidesToShow: 3,
			autoplay: true,
			autoplaySpeed: 5000,
			slidesToScroll: 1,		
			arrows: false,
			responsive: [
		    {
		      breakpoint: 1024,
		      settings: {
		        slidesToShow: 3,
		        slidesToScroll: 3
		      }
		    },
		    {
		      breakpoint: 991,
		      settings: {
		        slidesToShow: 2,
		        slidesToScroll: 2
		      }
		    },
		    {
		      breakpoint: 768,
		      settings: {
		        slidesToShow: 1,
		        slidesToScroll: 1
		      }
		    }
		    // You can unslick at a given breakpoint now by adding:
		    // settings: "unslick"
		    // instead of a settings object
		  ]
		});