%section.container
	.row#discover-row-rooms
		.col-lg-6.col-md-6#discover-accommodation
			.text-format
				%h4 
					%b Accommodation

				There are 60 guest houses, also known as “posadas”, typically with less than 10 rooms, allowing guests to experience the real Island lifestyle and preserving the National Park. In the posada, you will get all the comfort of a modern hotel, but with a personal touch. All our packages include accommodation and full board in the best Posadas in town.
		- @rooms.each do |room|
			- if room.name == "Superior"
				%a{href:"#", "data-toggle"=>"modal", "data-target"=>"#package-modal-#{room.name.downcase}"}
					.col-lg-3.col-md-3.hover-mask{id: "discover-#{room.name.downcase}"}		
						#discover-room-mask
						.discover-title-room 
							= room.name
			- else
				.col-lg-3.col-md-3
					.row
						%a{href:"#", "data-toggle"=>"modal", "data-target"=>"#package-modal-#{room.name.downcase}"}
							.col-lg-12.col-lg-12.hover-mask{id: "discover-#{room.name.downcase}"}
								#discover-room-mask
								.discover-title-room 
									= room.name
			= render partial: "discover/rooms_modal", locals: {room: room}

