/ Modal
.room-modal.modal.fade{id:"package-modal-#{room.name.downcase}", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-title
				= "#{room.name} Accommodation"
			.modal-image{class: "modal-image-#{room.name.downcase}"}
				- room.room_covers.each do |cover|
					.modal-image-item{style: "background-image: url(#{cover.url});"}        
			.modal-text
				= room.description


			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
	$('.modal-image-#{room.name.downcase}').slick(); 
	$("#package-modal-#{room.name.downcase}").on('shown.bs.modal', function (e) {  				
		$('.modal-image-#{room.name.downcase}').resize();
	})