= title("Galerías - Archivos - Listado")

//change header information
= header_information do
	= link_to "Galerías", catalogs_path
	= "> #{@catalog.name.humanize}"

.listing.col.l9.m12.s12
	- if can? :new, KepplerCatalogs::Attachment
		= link_to new_catalog_attachment_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only", "data-no-turbolink" => false do
			= material_icon.md_24.add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |attachment|
				= render 'listing', attachment: attachment
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							= t("model.#{controller_name.singularize}.no_found.text")
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, KepplerCatalogs::Attachment
	= link_to new_catalog_attachment_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red", "data-no-turbolink" => false do
		= material_icon.md_24.add.css_class("md-light")
